/*Les variables CSS globales sont utilisées en appelant le nom de la variable avec la var()fonction
Les sites Web complexes contiennent de très grandes quantités de CSS, ce qui entraîne souvent de 
nombreuses valeurs CSS répétées. Par exemple, il est courant de voir la même couleur utilisée à des centaines d'endroits différents dans les feuilles de style. La modification d'une couleur qui a été dupliquée à de nombreux endroits*/
:root {
	--black: #000000ff;
	--lavender-web: #ced5e3ff;
	--white: #fefefeff;
	--penn-blue: #202561ff;
	--polynesian-blue: rgb(5, 79, 158);
	--blue-ncs: #0087bd;
}

a {
	margin: 8px;
	color: var(--polynesian-blue);
	font-size: 1.2rem;
	text-decoration: none;
	border-radius: 4px;
}

article {
	position: relative; /* cette fonction modifie la position d'un élément par rapport à son conteneur */
	bottom: 20rem;
	background: var(--polynesian-blue);
	box-shadow: 0 1px 60px #111;
	opacity: 0.8;
	width: 250rem;
	border-radius: 7px;
	padding: 1rem;
}

div h1 {
	position: relative; /* cette fonction modifie la position d'un élément par rapport à son conteneur */
	bottom: 40rem;
	opacity: 0.6;
	width: 150.2rem;;
	color: var(--white);
	background: var(--black);
	text-align: center;
	font-family: Arial, sans-serif;
}

div img {
	width: 145rem;
	display: flex;
}

.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

article p {
	color: var(--lavender-web);
	width: 100rem;
	font-size: 1.8rem;
	font-family: Arial, sans-serif;
	text-align: justify;
}
article img {
	width: 15rem;
	position: absolute;
	top: 1rem;
	right: 1.4rem;
	display: flex;
	border-radius: 6px;
}

.history {
	position: relative;
	bottom: 100px;
	color: var(--black);
	font-size: 1.8rem;
	display: flex;
    flex-wrap: wrap; /* Permet d'aller à la ligne si l'écran est trop petit */
    gap: 20px; /* Ajoute un espacement entre les éléments */
    align-items: start; /* Aligne les paragraphes en haut */
} 

.history img {
	width: 32rem;
	position: absolute;
	border-radius: 6px;
	right: 45.7rem;
	top: 1rem;
	display: flex;
}

.history-text {
	display: flex;
    gap: 30rem;
    flex: 1;	
}

.history p {
	flex: 1; /* Permet aux paragraphes de prendre un espace égal */
    text-align: justify;
	font-size: 1.4rem;
	padding: 3rem;
	font-family: Arial, sans-serif;
}

h2 {
	color: var(--polynesian-blue);
	font-size: 3rem;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 58rem;
	bottom: 19rem;
	

}

.adventure {
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: minmax(160px, 1fr);
    overflow-x: auto;
    white-space: nowrap;
}

.adventure .item {
	display: flex;
    flex-direction: column; 
    align-items: center; 
	padding: 10px;
}

.adventure img {
    width: 25rem;
	height: 15rem;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
		margin: 10px; 
}

.adventure h1 {
    font-size: 15px;
    margin-top: 16rem;
	right: 8rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.adventure h2 {
	top: 80rem;
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	text-align: center;
	left: 48rem;
}

header {
    display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0087bd;
	padding: 1px;
}

header img {
	width: 90px;
}

.adventure img:hover {
    transform: scale(1.1);
	transition: transform 0.2s;
}

a:hover {
	background: var(--polynesian-blue);
	color: var(--white);
	transform: scale(1.1);
	transition: transform 0.2s;
}

footer {
	/*position: fixed;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0087bd;
}

footer img {
	width: 30px;
}
