:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: block;
    color: var(--accent2-color);
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

li {
    list-style: none;
}

.header img {
    width: 100px;
}

h1 {
    font-family: var(--heading-font);
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    margin: 16px;
    padding: 8px;
}

.descent {
    position: relative;
    bottom: 180px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    background-color: var(--accent2-color);
}

h2 {
    font-family: var(--body-font);
    font-size: 20px;
    margin: 16px 0;
    padding: 8px;
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);
}

.history {
    display: flex;
    justify-items: center;
    gap: 20px;
}

.history img {
    width: 150px;
}

P {
    font-size: 14px;
    font-family: var(--body-font);
}

.grid {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 170px;
    margin: auto;
}

figcaption {
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

aside img {
    width: 100%;
}

.socialmedia {
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 840px;
    border-top: 2px solid var(--secondary-color);
    margin: 20px auto;
}

footer nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px;
}

footer nav img {
    width: 30px;
}