/*Les variables CSS globales sont utilisées en appelant le nom de la variable avec la var()fonction
Les sites Web complexes contiennent de très grandes quantités de CSS, ce qui entraîne souvent de 
nombreuses valeurs CSS répétées. Par exemple, il est courant de voir la même couleur utilisée à des centaines d'endroits différents dans les feuilles de style. La modification d'une couleur qui a été dupliquée à de nombreux endroits*/
:root {
	--black: #000000ff;
	--white: #FFFFFFFF;
	--polynesian-blue: #0056b3;
	--blue: #ced5e3;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--blue);
}
header {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto 1fr;
	align-items: center;
	background-color: var(--polynesian-blue);
}

.logo-box img {
	width: 90px;
}

header nav  {
    display: flex;
    justify-content: flex-end;
	border-radius: 4px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--penn-blue);
}

nav a {
    color: var(--white);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.3s;
}

nav a:hover {
    background: var(--polynesian-blue);
    color: var(--white);
    transform: scale(1.1);
}

article {
	position: relative;
	bottom: 20rem;
	background: var(--polynesian-blue);
	box-shadow: 0 3px 60px #111;
	opacity: 0.7;
	width: 250rem;
	border-radius: 7px;
	padding: 1rem;
}

div h1 {
	position: relative;
	opacity: 0.6;
	width: 150.2rem;;
	color: var(--white);
	background: var(--black);
	text-align: center;
	font-family: Arial, sans-serif;
	bottom: 40rem;
}

div img {
	width: 145rem;
	display: flex;
}

article p {
	color: var(--black);
	width: 100rem;
	font-size: 1.8rem;
	font-family: Arial, sans-serif;
	text-align: justify;
}
.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px 1px;
}

article img {
	width: 15rem;
	position: absolute;
	right: 1.4rem;
	display: flex;
	border-radius: 4px;
}

.history {
	position: relative;
	bottom: 100px;
	color: var(--black);
	font-size: 1.8rem;
	display: flex;
    flex-wrap: wrap;  
    align-items: start;
}

.history img {
	width: 30rem;
	position: absolute;
	border-radius: 6px;
	right: 46.7rem;
	display: flex;
}

.history-text {
	display: flex;
    gap: 30rem;
    flex: 1;	
}

.history p {
	flex: 1; 
    text-align: justify;
	font-size: 1.4rem;
	padding: 3rem;
	font-family: Arial, sans-serif;
}

h2 {
	color: var(--polynesian-blue);
	font-size: 3rem;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 49rem;
	bottom: 19rem;
}

.adventure {
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: minmax(160px, 1fr);
    overflow-x: auto;
    white-space: nowrap;
}

.adventure .item {
	display: flex;
    flex-direction: column; 
    align-items: center; 
	padding: 10px;
}

.adventure img {
    width: 25rem;
	height: 15rem;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	margin: 10px; 
}

.adventure h3 {
    font-size: 15px;
    margin-top: 17rem;
	right: 8rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.adventure h2 {
	top: 82rem;
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	text-align: center;
	left: 48rem;
}


.adventure img:hover {
    transform: scale(1.1);
	transition: transform 0.2s;
}

a:hover {
	background: var(--polynesian-blue);
	color: var(--white);
	transform: scale(1.1);
	transition: transform 0.2s;
}

footer {
	/*position: fixed;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0087bd;
	padding: 1px 20px;
}

footer img {
	width: 30px;
}